div {
  margin-left: 11%;
  padding: 1px 16px;
}
.col {
  color: rgb(255, 255, 255);
  background-color: #da70d6;
  left: 19px;
  padding: 1%;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  background-color: #da70d6;
}
th,
td {
  text-align: left;
  padding: 8px;
}
.dropbtn {
  background-color: #737f73;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d1d2d1;
}
.icon {
  left: 35%;
  width: 25%;
  position: relative;
}
i {
  font-size: 50px;
}
.text {
  position: relative;
  width: 20%;
  padding: 0.1%;
  background-color: #acaeac;
  text-align: center;
}
p {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: #da70d6;
  left: 21%;
  width: 76%;
  padding: 1%;
}
